p{
    color: rgb(228, 227, 241);
    font-size: 70px;
}

#container{
    background-color: rgb(216, 216, 104);
    width: 98vw;
    height: 50vw;
    display: grid;
    border: solid purple 7px;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    }

    .a {
        background-color: rgb(44, 146, 146);
        grid-column: 1/3;
    }
    .b {
        background-color: rgb(43, 43, 134);
        grid-column: 3/4;
        
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .c {
        background-color: rgb(68, 22, 68);
        grid-row-start: 2;
        grid-row-end: 5;
    }

    .d{
        background-color: rgb(66, 58, 12);
        grid-row-start: 2;
        grid-row-end: 5;
    }